.index {
  background-color:rgb(100,250,255); /* mientras carga la imagen */
  h3 {
    text-align: center;
    line-height:1.5;
  } 
}
/*
@media (max-width: 800px) {
  .index {
    background-image: url('/src/13-imagenes/opacidad/luxa.org-opacity-changed-120190407121400100Portugal-Nazare1500.png');
  }
	}
  */